!!! 5
html
  head
    title Men's Medium Tall
    meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=1")
    //if IE
      script
        alert(
            'Your version of Internet Explorer is out-of-date and or buggy.'
          + ' Please use Chrome or Firefox to run this application.'
        );
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(charset="utf-8")
    link(rel="stylesheet", href="style.css", type="text/css", media="screen")
    link(rel="stylesheet", href="style.css", type="text/css", media="print")
    script(src="pakmanaged.js")
  body
    #css-body-wrapper
      .css-big-tagline.
        Houston, we have a problem!
      .css-shirt-theory
        .css-shirt-title.
          Theory
        img.css-shirt(src="images/shirt-theory.png")
        .css-shirt-subtext
          span t-shirt made for humans:
          br
          span sleeves come 2/3 of the way to elbow
          br
          span bottom of shirt reaches waist easily
          br
          span shirt fits humans
          br
          span (even tall ones)
      .css-shirt-practice
        .css-shirt-title.
          Practice
        img.css-shirt(src="images/shirt-practice.png")
        .css-shirt-subtext.
          span t-shirt made for boxes:
          br
          span sleeves grossly too short
          br
          span belly button constantly exposed
          br
          span chest too wide, shirt fits boxes
          br
          span (ocassionally short torso humans)
      .css-big-tagline2.
        Make Sense?
      .css-small-points
        ul
          li You do this
          li Web do that
          li It works out in the end

      form#js-email-only
        input(type="email", placeholder="Ex: john.doe@gmail.com")
        button.css-big-a-button(type="submit")
          span.css-the-title.
            Submit
          span.css-the-subtext.
            (your wildest dreams may come true)*
      .css-dreams-subtext.
        *Provided you dream of t-shirts that fit better than a moo moo...

      .css-footer
        .css-logo
          img(src='images/mmt-logo.png')
        .css-mark.
          m e n s   m e d i u m   t a l l

      include optional-form
