.js-modal-form-cover.css-modal-form-cover(style="display:none;")
  .css-modal-form
    h2 Thanks!
    span.css-short-desc.
      Rest assured we are working on the problem.
      If you'd like, you can help by filling out this form
      so we can find the perfect size.
    form#js-optional-info
      .css-field
        p.css-title
          label Height
        input(type="number", min="5", max="8", step="any", name="feet", value="6", required="required")
        span.
          ft
        input(type="number", min="0", max="12", step="any", name="inches", required="required")
        span.
          in

        p.css-title
          label Pant Waist
        input(type="number", min="10", step="any", name="waist", required="required")
        span.
          in

        p.css-title
          label Pant Length (inseam)
        input(type="number", min="10", step="any", name="length", required="required")
        span.
          in

        p.css-title
          label Weight
        input(type="number", min="50", max="350", step="any", name="weight", required="required")
        span.
          lbs
    .css-big-a-button
      p.
        Submit
