html {
  background-color: rgb(230,230,230);
}
/* body.mac.webkit * { */
body * {
  text-rendering: optimizeLegibility;
  font-family:"Beteckna lower case";
  font-weight:normal;
}
@font-face{
  font-family:"Beteckna lower case";
  src:url("Beteckna_by_tarzeau.eot?") format("eot"),url("Beteckna_by_tarzeau.woff") format("woff"),url("Beteckna_by_tarzeau.ttf") format("truetype"),url("Beteckna_by_tarzeau.svg#BetecknaLowerCase") format("svg");
  font-weight:normal;
  font-style:normal;
}
#css-body-wrapper {
  color: white;
  /*background: url(images/cream_dust/cream_dust.png);*/
  background-color: rgb(57,71,86);
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 1.5em;
  margin-left: auto;
  margin-right: auto;
  width: 920px;
}
.css-hidden {
  display: none;
}
body, input, textarea {
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0px;
  color: #555;
}
label, select, input[type="submit"] {
  cursor: pointer;
}
label {
  display: block;
}
.css-select .css-arrows {
  display: block;
  position: absolute;
  background: url("http://akcdn.okccdn.com/media/img/forms/okselect_arrow.png") 0 0 no-repeat;
  width: 7px;
  height: 10px;
  top: 8px;
  right: 6px;
}
select {
  background: none;
  position: relative;
  height: 26px;
  padding: 5px 5px 5px 5px;
  margin: 0;
  border: 0;
  font-family: Verdana,sans-serif;
  font-size: 11px;
  color: #555;
  -webkit-appearance: none;
  z-index: 10;
  /* webkit specific */
  padding-right: 20px;
  padding-left: 8px;
}
.css-select {
  position: relative;
  overflow: hidden;
  border: 1px solid #C7C7C7;
  display: inline-block;
  vertical-align: top;
  background: -moz-linear-gradient(top,white 0%,#F1F1F1 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,white),color-stop(100%,#F1F1F1));
  background: -webkit-linear-gradient(top,white 0%,#F1F1F1 100%);
  background: -o-linear-gradient(top,white 0%,#F1F1F1 100%);
  background: -ms-linear-gradient(top,white 0%,#F1F1F1 100%);
  /*
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#F1F1F1',GradientType=0);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#F1F1F1',GradientType=0);
  */
  background: linear-gradient(top,white 0%,#F1F1F1 100%);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
input {
  padding: 4px 6px;
  width: 275px;
  border: 1px solid #CCC;
  border-top: 1px solid #BBB;
  -moz-box-shadow: inset 0 1px #f3f3f3,0 1px #fff;
  -webkit-box-shadow: inset 0 1px #F3F3F3,0 1px white;
  box-shadow: inset 0 1px #F3F3F3,0 1px white;
}
div.css-form-wrap div.css-field {
  float: left;
  margin: 0 0 10px;
  width: 325px;
}
div.css-form-wrap p.css-title {
  clear: left;
  float: left;
  margin: 0 20px 0 0;
  width: 110px;
  font-size: 15px;
  text-align: right;
  color: #444;
}
p.css-submit {
  margin-left: 130px;
}
.css-clear {
  clear: both;
}
div.css-form-wrap div.css-field p.css-title {
  clear: none;
  float: none;
  margin: 0 0 5px;
  width: auto;
  font-size: 12px;
  text-align: left;
  color: #999;
}
.css-big-tagline{
  font-size: 38pt;
  margin-top: 0.2em;
}
.css-shirt-theory{
  font-size: 18px;
  width: 250px;
  float: left;
}
.css-shirt-theory img{
  display:block;
  margin-right: auto;
  margin-left: auto;
  height: 390px;
}
.css-shirt-title{
  font-size: 25px;
  text-align: center;
}
.css-shirt-practice{
  width:250px;
  float:left;
}
.css-shirt-practice img{
  height: 390px;
  display:block;
  margin-right: auto;
  margin-left: auto;
}
.css-shirt-subtext{
  font-size:12px;
  text-align: center;
}
.css-big-tagline2{
  font-size: 36pt;
  text-align: center;
  padding-top: 1.5em;
  float:center;
  width:400px; 
}
.css-small-points{
  text-align: center;
}
#css-body-wrapper form input{
  width:275px;
  border-color:rgba(0,174,239,1);
  border-width:4px;
  margin-bottom: 10px;
}
.css-big-a-button{
  text-align:center;
  width:275px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  background-color: rgba(0,174,239,1);
  border-radius: 6px;
}
.css-right-hand{
  width:400px;
  float:left;
  text-align: center;
}
.css-dreams-subtext{
  color:rgba(255,255,255,1);
  font-size: 10px;
  text-align:center;
}
.css-footer {
  text-align: center;
  padding-top: 2.5em;
  color: rgba(255,255,255,1);
  clear: both;
}
.css-corner{
  float:right;
  color:rgba(255,255,255,1);
  width:160px;
}
.css-logo img{
  display:block;
  margin-right: auto;
  margin-left: auto;
}
.css-modal-form-container {
  position: absolute;
  z-index: 200;
  width: 100%;
  top: 0;
  color: black;
}
.css-modal-form-mask {
  position: fixed;
  z-index: 100;
  float:left;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6)
}
.css-modal-form {
  z-index: 201;
  position: relative;
  margin: auto;
  width: 600px;
  height: 600px;
  padding: 1.5em;
  border-radius: 15px;
  background-color: rgb(240,240,240);
  margin-top: 5em;
}
.css-modal-form h2 {
  margin-top: 0;
  font-size: 24px;
}
.css-title{
  font-size:14px;
}
.css-short-desc{
  font-size: 14px;
}
.css-big-a-button p{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size:14px;
}
.css-field input {
  width: 4em;
}
.css-fb-big-like {
  width: 450px;
  overflow: hidden;
}
a {
  color: white;
}
